<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#2EDE7B" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #2EDE7B" ></p></ngx-spinner>
<header *ngIf="!isAuthView">
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a [routerLink]="['/bracket']" routerLinkActive="active">Tournament Bracket</a>
            </li>
            <li>
                <a [routerLink]="['/about']" routerLinkActive="active">About</a>
            </li>
        </ul>
    </nav>
    <div class="settings">
        <div class="notification">
            <div>
                <i class="fa-solid fa-bell"></i>
                <div class="notification-indicator"></div>
            </div>
        </div>
        <img (click)="openDialog()" class="team-image"
            src="{{imgUrl}}" alt="">
        <img [matMenuTriggerFor]="menu" class="profile-image" src="./assets/images/avatar.png" alt="">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <span>Logout</span>
            </button>
          </mat-menu>
    </div>
</header>
<router-outlet></router-outlet>