<div class="root-container">
    <!-- <header>
        <nav>
            <ul>
                <li class="active">
                    <a>Home</a>
                </li>
                <li>
                    <a>Tournament Bracket</a>
                </li>
                <li>
                    <a>About</a>
                </li>
            </ul>
        </nav>
        <div class="settings">
            <div class="notification">
                <div>
                    <i class="fa-solid fa-bell"></i>
                    <div class="notification-indicator"></div>
                </div>
            </div>
            <img class="team-image" src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            <img class="profile-image" src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
        </div>
    </header> -->

    <main>
        <section class="vote">
            <div>
                <h1>Vote for preferred <span>Prize</span></h1>
                <div class="prize">
                    <img src="../../../assets/images/realmadrid.jpeg" alt="">
                    <img src="../../../assets/images/adidas.jpeg" alt="">
                    <img src="../../../assets/images/ps5.png" alt="">
                </div>
            </div>
        </section>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra, libero vitae scelerisque
                viverra, quam velit gravida erat, in viverra libero quam hendrerit tortor. Morbi fermentum enim arcu, in
                sagittis lectus tristique eu. Nunc a odio at enim ultrices sodales sed vitae eros.</p>
        </section>
    </main>
</div>