<div class="root-container">
    <div class="auth-box">
        <div class="auth-box-img">
            <img src="../../../assets/images/auth-image.jpeg" alt="">
        </div>
        <div class="auth-box-fields">
            <div>
                <h1>Hello!</h1>
                <h3>We will challenge for a <span>Prize</span></h3>
                <form>
                    <label for="email"> Email</label>
                    <input id="email" type="text" placeholder="Enter email">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Enter password">
                    <button>Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
