<div class="root-container">
    <div class="players">
        <div class="box-header">
            <span>Players</span>
        </div>
        <div class="players-list">
            <div class="player-item container">
                <div class="neumorphism-1">
                    <span>Ali Alkhatib</span>
                </div>
                <div class="neumorphism-2">
                    <div class="neumorphism-3">
                        <img src="../../../assets/images/Manchester_City_FC.png" alt="">
                    </div>
                </div>
            </div>
            <div class="player-item container">
                <div class="neumorphism-1">
                    <span>Wesam Remawi</span>
                </div>
                <div class="neumorphism-2">
                    <div class="neumorphism-3">
                        <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
                    </div>
                </div>
            </div>
            <div class="player-item container">
                <div class="neumorphism-1">
                    <span>Jihad</span>
                </div>
                <div class="neumorphism-2">
                    <div class="neumorphism-3">
                        <img src="../../../assets/images/barcelona.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bracket">
        <div class="box-header">
            <span>Bracket</span>
        </div>
        <div class="bracket-tree">
            <!-- <button>Draw</button> -->
            <app-tournament-bracket-component [treeData]="treeData"
                style="width: 100%;"></app-tournament-bracket-component>
        </div>
    </div>
</div>