<div class="root-container">
    <div class="players">
        <div class="box-header">
            <span>Players</span>
        </div>
        <div class="players-list">
            <div class="player-item container" *ngFor="let player of players">
                <div class="neumorphism-1">
                    <span>{{player.fullName}}</span>
                </div>
                <div class="neumorphism-2">
                    <div class="neumorphism-3">
                        <img src="{{getTeamUrl(player.team.name)}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bracket">
        <div class="box-header">
            <span>Bracket</span>
        </div>
        <div class="bracket-tree">
            <button (click)="draw()" *ngIf="userAllowedToDraw() && (!matches || !matches.length)">Draw</button>
            <app-tournament-bracket-component (scoreProvided)="scoreProvided()" *ngIf="matches && matches.length" [matches]="matches" style="width: 100%;"></app-tournament-bracket-component>
        </div>
    </div>
</div>