.root-container {
    height: 85vh;
    padding: 0 90px;
    display: flex;
    align-items: center;
    .players {
        flex-grow: 1;
        height: 95%;
        background-color: #dde1e7;
        border-radius: 20px;
        margin-right: 12px;
        align-items: center;
    }

    .bracket {
        flex-grow: 11;
        height: 95%;
        background-color: #dde1e7;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        
        .bracket-tree {
            height: 90%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;
            overflow-x: scroll;
            button {
                border-radius: 30px;
                background: #2EDE7B;
                width: 168px;
                height: 50px;
                color: #FFF;
                border: 0;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}

.box-header {
    display: flex;
    justify-content: center;
    margin: 50px;

    span {
        color: #666;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-bottom: 2px solid #2EDE7B;
    }
}

.player-item {
    margin: 12px 32px;
    padding: 8px 18px;
    border-radius: 50px;

    // background: #FFF;
    display: flex;
    justify-content: center;

    img {
        flex-shrink: 0;
        width: 60%;
        flex-shrink: 0;
    }

    span {
        margin: 0 0 0 16px;
        color: #5e5e5e;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 65%;
}

.neumorphism-1 {
    height: 40px;
    width: 80%;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgb(94, 104, 121, .288);
    border-radius: 35px;
    justify-content: start!important;
}

.neumorphism-2 {
    margin: 10px;
    padding: 4px;
    height: 55px;
    width: 55px;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,3px 3px 5px rgb(94, 104, 121, .288);
    border-radius: 60px;
    position: absolute;
    right: 0;
    text-align: center;
}

.neumorphism-3 {
    height: 55px;
    width: 55px;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgb(94, 104, 121, .288);
    border-radius: 60px;
}