<div class="root-container">
    <div class="players">
        <div class="box-header">
            <span>Players</span>
        </div>
        <div class="players-list">
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
            <div class="player-item">
                <div>
                    <img src="../../../assets/images/9cf88cc006fd183491fc10fda59083a4.jpeg" alt="">
                    <span>Ali Alkhatib</span>
                </div>
                <img src="../../../assets/images/21d9bc2c79d44ba5dc56d7253a1a5062.png" alt="">
            </div>
        </div>
    </div>
    <div class="bracket">
        <div class="box-header">
            <span>Bracket</span>
        </div>
        <div class="bracket-tree">
            <button>Draw</button>
            <app-tournament-bracket-component [treeData]="treeData" style="max-width: 100%;"></app-tournament-bracket-component>
        </div>
    </div>
</div>